{% load static %}
<html>
  <head>
      <title>{% block title %}{% endblock title %}</title>
      <link href="{% static "bootstrap.min (6).css" %}" rel="stylesheet">
      <link href="{% static "custom.css" %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body class="bg-light" style="background-size: cover; background-position: center; background-repeat: no-repeat; background-color: text-light; background-blend-mode: multiply; font-family: 'Monospace', monospace, sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="full-width-container bg-primary d-flex justify-content-start aling-items-center mt-1">
        <a class="navbar-brand d-flex align-items-center text-light" href="{% url "tiendamusical:index" %}">
          <img src="{% static 'logo.svg' %}" alt="Logo de VerdeTono" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link d-flex align-items-center dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>                    
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Cuerdas</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Viento</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Percusión</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Teclado</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Electrónicos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "tiendamusical:index" %}" style='color: white'>Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "tiendamusical:index" %}" style='color: white'>Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "tiendamusical:index" %}" style='color: white'>Acerca de</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <form action="{% url 'tiendamusical:index' %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn text-danger">
                    <i class="fa-solid fa-right-to-bracket"></i>
                  </button>
                </form>
              {% else %}
                <a href="{% url "tiendamusical:index" %}" class="btn text-success">
                  <i class="fa-solid fa-right-from-bracket"></i>
                </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}
  </body>
</html>