{% extends "base.html" %}
{% block title %}Percusión{% endblock title %}
{% block content %}
{% load static %}
  <h1 class="text-primary d-flex justify-content-center mt-3 mb-3"><strong>Instrumentos de percusión</strong></h1>
  <div class="row">
    {% for producto in productos %}
    <div class="col-sm-2 m-5">
      <div class="card" style="width: 1oo%;">
        <img src="{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ producto | capfirst }}</h5>
          <p class="card-text">Nombre: {{ producto.nombre }}</p>
          <p class="card-text">Precio: {{ tproducto.precio }}</p>
          <a href="{{producto.pk}}" class="btn btn-primary">
            <i class="fa-solid fa-eye"></i>
          </a>
          {% if user.is_authenticated %}
          <a href="/edit_producto/{{producto.pk}}" class="btn btn-primary">
            <i class="fa-solid fa-pencil"></i>
          </a>
          <a href="/eliminar_producto/{{producto.pk}}" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}
