{% extends "base.html" %}
{% block title %}Todas las categorias{% endblock title %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
  <div class="d-flex justify-content-center mt-2 mb-4">
    <a href="/add_cliente" class="btn btn-primary">Añadir cliente</a>
  </div>
{% endif %}
<table class="table justify-aling-center m-2">
  <thead>
      <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Cédula</th>
          <th>Correo Electrónico</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Fecha de registro</th>
      </tr>
  </thead>
  <tbody id="lista_clientes">
      {% for cliente in clientes %}
      <tr class="cliente" data-categoria="{{ cliente }}">
          <td>{{ cliente.nombres }}</td>
          <td>{{ cliente.apellidos }}</td>
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.correo_electronico }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.fecha_de_registro }}</td>
          <td>
            {% if user.is_authenticated %}
            <a href="/edit_cliente/{{cliente.pk}}" class="btn btn-primary">
              <i class="fa-solid fa-pencil"></i>
            </a>
            <a href="/eliminar_cliente/{{cliente.pk}}" class="btn btn-danger">
              <i class="fa-solid fa-trash"></i>
            </a>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}
